*{
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-size: 15px;
  font-family: url('https://fonts.google.com/specimen/Overpass;'), Times, serif;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center; 
  align-items: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.rateUs {
  /* overflow: auto; */
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-items: center;
  overflow: hidden;
  font-size: 1em;
  width: 35vw;
  height: 50vh;
  background-color: rgba(29,34,45,255);
  border-radius: 1vw;
}

.ratingContainer{
  padding-bottom: 1vh;
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ratingButton{
  height: 7vmin;
  width: 7vmin;
  border-radius: 3.5vmin;
  padding: 2.5vmin;
  text-align: center;
}

.star{
  display: flex;
  padding: 3%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);;
  width: 12%;
  /* height: 18%; */
  margin-left: -1%
}

.star img{
  /* height: 80%; */
  width: 80%;

}

.not-selected{
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
}

.ratingButton:hover{
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}


#submitButton{
  background-color: hsl(25, 97%, 53%);
  border: 1px transparent;
  border-radius: 1vw;
  padding: 1vh;
  width: 90%;
  /* padding: 0.8rem; */
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: large;
}

#submitButton:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.selected{
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.description-rating{
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: justify;
}


.description-rating p{
  	color: hsl(217, 12%, 63%);
}

.description-rating h2{
  	color: hsl(0, 0%, 100%);
}

.thanks{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 40vw;
  height: 50vh;
  background-color: rgba(29,34,45,255);
  border-radius: 1vw;
}

.submitted-rating{
  overflow: auto;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submitted-rating img{
    /* margin-bottom: 5%; */
    /* width: 50%; */
    height: 25%;
}


.submitted-rating p{
  text-align: center;
  color: hsl(217, 12%, 63%);
}

.submitted-rating h2{
  	color: hsl(0, 0%, 100%);
}

.submitted-rating p:first-of-type{
  width: 50%;
  padding: 0.5em;
  margin-top: 3em;
  background-color: rgba(39,46,56,255);
  border-radius: 1em;
  color: hsl(25, 97%, 53%);
  margin: auto;
}

@media only screen and (max-width: 1400px) {
  .ratingButton{
    height: 5vmin;
    width: 5vmin;
    border-radius: 3vmin;
    padding: 1.5vmin;
  }
 }


@media only screen and (max-width: 800px) {

  .rateUs{
    overflow: auto;
    width: 90%;
    height: 60%;
    border-radius: 4vw;
  }


  
  .ratingButton{
    height: 15vmin;
    width: 15vmin;
    border-radius: 50%;
    padding: 5vmin 5vmin;
  }

  .thanks{
    width: 90%;
    height: 60%;
    border-radius: 4vw;
  }


  .submitted-rating{
    width: 95%;
  }
}


/* 
#submitButton{
  height: 6%;
}
  */


@media only screen and (min-width:2100px){
  body{
    font-size: 1vw;
  }
}